/.env

/.venv

/node_modules

/__pycache__

/dist

/build

/.DS_Store

Thumbs.db

/.vercel

/coverage

/out

/.vscode

/.idea

package-lock.json

yarn.lock

pnpm-lock.yaml

/.next

npm-debug.log

yarn-debug.log

*.log
